.sort-icon{
    fill: white;

    transform: scale(1.3);
}
.sort-icon:hover{
    transform: scale(1.4);
    border-radius: 5px;
    background-color: #2d68fe4d;
    cursor: pointer;
}


.sort-box {

    margin-left: 20px;
    vertical-align: middle;
   
    position: relative; /* Change position to relative */
    display: inline-block;
    z-index: 999;
}

.sort-checkbox{
    position:absolute;
    visibility:hidden;
}
.line-seperator{
    margin:0;
    border:none;
    height:1px;
    background-color:#494949;
}