.block-container{
    position: absolute;
    height: calc(100vh);
    width:calc(100vw - 72px);
    display:flex;
    flex-direction:column;
    
    overflow: hidden;
    
    
  
}



.content-1{
   
  
   


    animation: load-animation 1s cubic-bezier(0, 0.75, 0.03, 1);
    margin:auto;
  

    max-height:450px;
    max-width:900px;
    height:auto;
    width:73vw;
    /* background-color:#000000; */

    display:flex;
    flex-direction:column;
    align-items: center;
}

.highlighted-text{
   
    font-family: inter-bold;
    
    background: linear-gradient(-45deg, #ee7752, #C12CE6, #3EBFF7, #23d5ab);
	background-size: 400% 400%;
    animation: gradient 5s infinite;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    

}


.big-title{
    text-align:center;
    color:white;
    font-family: inter-medium;
    /* font-size: 45px; */
    font-size:5em;
}

.homepage-text{
    text-align:center;
    color:rgb(192, 192, 192);
    font-family: inter-medium;
    width:100%;
    font-size:1.5em;
    margin-top:25px;
}

.homepage-button-container{
    display:flex;
    flex-direction:row;
    gap:20px;
}

.start-button{
    
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
    box-shadow:inset 0px 0px 4px 2px rgba(255, 255, 255, 0.333);

    display:inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
 
/*     
    outline-style: solid;
    outline-width:1px;
    outline-color: #494949; */
    border-radius:40px;
    font-family: inter-medium;
    color:rgb(255, 255, 255);
    width:165px;
    height:50px;
    background-color: #2489FF;
    font-size: 17px;
    margin-top:auto;

    

    
}
.start-button:hover{
   
    background: linear-gradient(-90deg, #2489FF, #6db1ff, #2489FF);
	background-size: 400% 400%;
    animation: button-wipe 5s infinite;

    transform: scale(1.02);
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes button-wipe {
	0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 400% 50%;
	}

}
